.red-bg {
    height: 15vh;
    width: 100vw;
    background-color: #FF4655;
}

.white-bg {
    height: 55vh;
    width: 100vw;
    background-color: white;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 3rem;
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

h3 {
    text-align: center;
    font-size: 3rem;
}

#playerContainer {
    place-items: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vh, 1fr));
    grid-gap: 20px;
}

img {
    height: 10rem;
    overflow: hidden;
}

.playerCard {
    height: 20rem;
    width: 2vh;
}

.logo {
    position: absolute;
    left: .25rem;
    top: .25rem;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 0rem;
    cursor: pointer;
}
